main {
    margin-top: 65px;
}

.main-ad {
    text-align:center;
    font-size:12px;
    padding: 15px 10px;
    background-color:rgb(248, 248, 248);
}

.main-ad a {
    text-decoration: none;
    color: dodgerblue;
}

.main-ad a:hover {
    text-decoration: underline;
}

.iphone-13-pro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iphone-13-pro__title {
    font-size: 50px;
    margin-bottom: 5px;
}